### Python - Assignment 2 - Collections, functions and Modules

1. Accessing list

In [1]:
# 1.Write a Python program to access elements at different index positions.

In [1]:
# Write a Python program to create a list of multiple data type elements.
l = [1,2,10,5,'Tushar']

In [3]:
#  Write a Python program to find the length of a list using the len() function
len(l)

5

2. List Operators

In [7]:
# Write a Python program to add elements to a list using insert() and append()
l = [1,2,3,4]
l.insert(1,10) 
l.append(20)
l

[1, 10, 2, 3, 4, 20]

In [5]:
# Write a python program to remove elements from a list using pop() and remove()
l = [1,2,10,5,'Tushar']
l.remove(2)
l.pop()
l

[1, 10, 5]

3. Working with lists

In [14]:
# Write a python program to sort a list using both .sort() and sorted()
l=[100,20,90,10,50]
l.sort()
l

[10, 20, 50, 90, 100]

In [19]:
l=[100,20,90,10,50]
sorted(l)

[10, 20, 50, 90, 100]

In [7]:
# Write a python program to iterate through a lst and print each element
l=[100,20,90,10,50,'Tushar','patel']
for i in l:
    print(i)

100
20
90
10
50
Tushar
patel

In [9]:
# ) Write a Python program to insert elements into an empty list using a for loop and append(). 
l1=[]
l=[100,20,90,10,50,'Tushar','patel']
for i in l:
    l1.append(i)
print(l1)

[100, 20, 90, 10, 50, 'Tushar', 'patel']

4. Tuple

In [32]:
# Write a Python program to convert a list into a tuple.
t = tuple(l)
t

(100, 20, 90, 10, 50, 'kevin', 'patel')

In [11]:
# Write a Python program to create a tuple with multiple data types.
t =(1,2,3.14,'Tushar')

In [13]:
#  Write a Python program to concatenate two tuples into one.
t1=(10,20,30,40,50)
t2=(10,70,80,90,100)
print(t1+t2)

(10, 20, 30, 40, 50, 10, 70, 80, 90, 100)

In [40]:
#  Write a Python program to access the value of the first index in a tuple.
t1=(10,20,30,40,50)
t1[0]

10

5. Accessing Tuples

In [47]:
# Write a Python program to access values between index 1 and 5 in a tuple. 
t = (1,2,3,4,5)
t[1:5]

(2, 3, 4, 5)

In [53]:
# Write a Python program to access alternate values between index 1 and 5 in a tuple.
t[::2]

(1, 3, 5)

In [54]:
# Write a Python program to access the value from the last index in a tuple. 
t[-1]

5

6. Dictionaries

In [15]:
# Write a Python program to create a dictionary with 6 key-value pairs.
# Write a Python program to access values using dictionary keys.
d = {'name_1':'Tushar','name_2':'mantha','name_3':'het','name_4':'sahil','name_5':'meet','name_6':'dipak'}
d['name_1']

'Tushar'

7. Working with Dictionaries

In [95]:
#  Write a Python program to update a value at a particular key in a dictionary.
d['name_1']='xyz'

In [96]:
#  Write a Python program to separate keys and values from a dictionary using keys() and values() methods.
print(d.keys())
print(d.values())
d

dict_keys(['k', 'e', 'v', 'i', 'n', 'name_1'])
dict_values([2, 2, 2, 2, 2, 'xyz'])

{'k': 2, 'e': 2, 'v': 2, 'i': 2, 'n': 2, 'name_1': 'xyz'}

In [17]:
# Write a Python program to convert two lists into one dictionary using a for loop.
l1 = ['id','name','dep']
l2 = [101,'Tushar','sales']
dic = {}
for i in range(len(l1)):
    dic[l1[i]] = l2[i]
print(dic)

{'id': 101, 'name': 'Tushar', 'dep': 'sales'}

In [98]:
# Write a Python program to count how many times each character appears in a string.
s = input("Enter any string : ")
d = {}
for i in s:
    d[i]=s.count(i)
print(d)

Enter any string :  asdfghjklasdfghjkl

{'a': 2, 's': 2, 'd': 2, 'f': 2, 'g': 2, 'h': 2, 'j': 2, 'k': 2, 'l': 2}

8. Functions

In [19]:
# Write a Python program to create a function that takes a string as input and prints it. 
def Str(x):
    print(x)
Str("Tushar")

Tushar

In [ ]:
# Write a Python program to create a calculator using functions. 
def add(x,y):
    return x+y
def subtraction(x,y):
    return x-y
def multiply(x,y):
    return x*y
def divide(x,y):
    return x/y
x = True
while x:
    print("1. Addition \n2. Subtraction \n3. Multiplication \n4. Division \n5. Exit")
    n = int(input("Select a function : "))
    if n < 6:
        if n < 5:
            a = int(input("Enter a number : "))
            b = int(input("Enter another number : "))
            if n == 1:
                print(f"Ans = {add(a,b)}")
            elif n ==2:
                print(f"Ans = {subtraction(a,b)}")
            elif n == 3:
                print(f"Ans = {multiply(a,b)}")
            elif n == 4:
                print(f"Ans = {divide(a,b)}")
            else:
                print("Invalid Operation")
        else:
            print("You are Exit ")
            x = False
    else:
        print("Please enter valid operation")

In [11]:
# Write a Python program to create a parameterized function that takes two arguments and prints their sum. 
def add(a,b):
    print(a+b)
add(1,2)

3

In [14]:
# Write a Python program to create a lambda function with one expression.
a = lambda a: a**2
a(6)

36

In [19]:
#  Write a Python program to create a lambda function with two expressions.
a = lambda a: (a**3) / a
a(6)

36.0

9. Modules

In [22]:
# Write a Python program to import the math module and use functions like sqrt(), ceil(), floor(). 
import math
print(math.sqrt(100))
print(math.ceil(1.50))
print(math.floor(10.50))

10.0
2
10

In [27]:
# Write a Python program to generate random numbers using the random module. 
import random
x = random.randint(1,100)
print(x)

70